@page  "{LoadID?}"
@model CicotiWebApp.Pages.Loads.LoadModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_LayoutDataTables.cshtml";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}

<br />
<br />
<h4>Load Details</h4>

<hr />
<div id="accordion">
    <div class="card" id="cardSection1">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne" style="background-color:darkblue; border:outset; font-size:small; border-color:white">
                    Section 1: Load Number,  LoadName,  LoadDate, Driver
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="row" id="divLoadHeaderForm">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Load.LoadID" id="loadID" />
                    <input type="hidden" asp-for="Load.VehicleID" id="vehicleID" />
                    <input type="hidden" asp-for="Load.DriverID" id="driverID" />
                    <div class="form-group" id="divLoadName">
                        <label class="control-label">Load Name</label>
                        <input asp-for="Load.LoadName" id="loadName" class="form-control" />
                        <span asp-validation-for="Load.LoadName" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="divLoadDateTime">
                        <label asp-for="Load.LoadDate" class="control-label">Loading Date</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type="text" class="form-control" id="loadDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <span asp-validation-for="Load.LoadDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group" id="divCreatedBy">
                        <label id="createdByLabel" class="control-label">Created By</label>
                        <input asp-for="Load.User.UserName" id="createdBy" class="form-control" />
                    </div>
                    <div class="form-group" id="divCreatedDate">
                        <label id="createdDateLabel" class="control-label">Create Date</label>
                        <input asp-for="Load.CreatedUtc" id="createdDate" class="form-control" />
                    </div>
                    <div id="DriverSection">
                        <div class="input-group" id="divDriverBtns">
                            <span class="input-group-btn">
                                <input type="button" value="Find Driver." class="btn btn-default" id="findDriverBtn" />
                            </span>
                            <span class="input-group-btn">
                                <input type="button" value="Show Driver" class="btn btn-default" id="showDriverBtn" />
                            </span>
                        </div>
                        <br />
                        <div id="divDriverInputFieldsSection" class="well-sm" style="background-color:lightgray">
                            <div class="form-group" id="divDriverFirstName">
                                <label class="control-label">Driver First Name</label>
                                <input asp-for="Load.Driver.FirstName" id="driverFirstName" class="form-control" />
                                <span asp-validation-for="Load.Driver.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="divDriverSecondName">
                                <label class="control-label">Driver Surname</label>
                                <input asp-for="Load.Driver.Surname" id="driverSurname" class="form-control" />
                                <span asp-validation-for="Load.Driver.Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="divDriverCellNumber">
                                <label class="control-label">Driver Cell Number</label>
                                <input asp-for="Load.Driver.CellNumber" id="driverCellNumber" class="form-control" />
                                <span asp-validation-for="Load.Driver.CellNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="divDriverTable" style="width:90%; margin:0 auto;">
                            <table id="DriverTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>DriverID</th>
                                        <th>First Name</th>
                                        <th>Surname</th>
                                        <th>Cell Number</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div id="VehicleSection">
                        <div class="input-group" id="divVehicleBtns">
                            <span class="input-group-btn">
                                <input type="button" value="Find Vehicle" class="btn btn-default" id="findVehicleBtn" />
                            </span>
                            <span class="input-group-btn">
                                <input type="button" value="Show Vehicle" class="btn btn-default" id="showVehicleBtn" />
                            </span>
                        </div>
                        <br />
                        <div id="divVehicleInputFieldsSection" class="well-sm" style="background-color:lightgray">
                            <div class="form-group" id="divSubContractor">
                                <label class="control-label">SubContractor</label>
                                <input asp-for="Load.Vehicle.SubContractor.Name" id="subContractor" class="form-control" />
                                <span asp-validation-for="Load.Vehicle.SubContractor.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="divVehicleRegistrationNo">
                                <label class="control-label">Vehicle Registration</label>
                                <input asp-for="Load.Vehicle.RegistrationNumber" id="registrationNumber" class="form-control" />
                                <span asp-validation-for="Load.Vehicle.RegistrationNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="divVehicleType">
                                <label class="control-label">Vehicle Type</label>
                                <input asp-for="Load.Vehicle.VechileType.Description" id="vehicleType" class="form-control" />
                                <span asp-validation-for="Load.Vehicle.VechileType.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="divVehicleTable" style="width:90%; margin:0 auto;">
                            <table id="VehicleTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>VehicleID</th>
                                        <th>Registration Number</th>
                                        <th>Vehicle Type</th>
                                        <th>Sub Contractor</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="button" value="Save" class="btn btn-default  " id="savebtnSection1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="cardSection2">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" id="btnInvoiceSelection"
                        aria-controls="collapseTwo" style="background-color:darkblue; border:outset; font-size:small; border-color:white">
                    Section 2: Invoices Available for Delivery
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="row" id="divInvoiceSelectionSection">

                <div id="InvoiceSelectionSection">
                    <div id="divInvoiceTable" style="width:90%; margin:0 auto;">
                        <table id="InvoiceTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>InvoiceID</th>
                                    <th>Invoice Number</th>
                                    <th>Invoice Printed Date</th>
                                    <th>Invoice Status</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="button" value="Save" class="btn btn-default  " id="savebtnSection2" />
                </div>
            </div>

        </div>
    </div>
    <div class="card" id="cardSection3">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" id="btnInvoiceSelected"
                        aria-controls="collapseThree" style="background-color:darkblue; border:outset; font-size:small; border-color:white">
                    Section 3: Delivery List
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="row" id="divInvoicesSelected">

                <div id="InvoiceSelectedSection">
                    <div id="divInvoiceSelectedTable" style="width:90%; margin:0 auto;">
                        <table id="InvoiceSelectedTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>InvoiceID</th>
                                    <th>Invoice Number</th>
                                    <th>Invoice Printed Date</th>
                                    <th>Invoice Status</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="button" value="Delete" class="btn btn-default  " id="savebtnSection3" />
                </div>
            </div>

        </div>

    </div>
    <div class="card" id="cardSection4">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn-primary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" id="btnPrintLoadDetails"
                        aria-controls="collapseFour" style="background-color:darkblue; border:outset; font-size:small; border-color:white">
                    Section 4: Print Load Details
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="row" id="divLoadDetails">
                <br />
                <div id="divLoadHTMLTable"></div>
                <br />
                <div class="form-group">
                    <input type="button" value="Print" class="btn btn-default  " id="btnPrintLoad" />
                </div>
            </div>
        </div>
    </div>
    
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ModalPartial")
    @await Html.PartialAsync("_ModalConfirmPartial")
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var LoadToSave = {};

        function createHTMLLoadTable() {
            $("#loadHTMLTable").remove();
            console.log("Just after remove:");
            var result = "<table border='1' cellpadding='3' id='loadHTMLTable'>";
            result += "<tr>";
            result += "<td>Load Name: </td><td>  " + $('#loadName').val() + "</td>";
            result += "</tr>";
            result += "<tr>";
            result += "<td>Load Date: </td><td> " + $('#loadDate').val() + "</td>";
            result += "</tr>";
            result += "<tr>";
            result += "<td>Driver : </td><td> " + $('#driverFirstName').val() + " " + $('#driverSurname').val() + "</td>";
            result += "</tr>";
            result += "<tr>";
            result += "<td>Registration Number : </td><td> " + $('#registrationNumber').val() + "</td>";
            result += "</tr>";
            result += "<tr>";
            result += "<td>Vehicle Type :</td><td>  " + $('#vehicleType').val() + "</td>";
            result += "</tr>";
            result += "<tr>";
            result += "<td>SubContractor : </td><td> " + $('#subContractor').val() + "</td>";
            result += "</tr>";
            result += "<tr>";
            result += "<td>Delivery Listing</td>";
            result += "</tr>";
            result += "<tr><td><b>Invoice No<b></td><td><b>Invoice Date<b></td></tr>"
            $('#InvoiceSelectedTable').find('tr').each(function () {
                result += "<tr><td>";
                result += $(this).find("td:eq(0)").text();
                result += "</td><td>";
                result += $(this).find("td:eq(1)").text();
                result += "</td><tr>";
                //result += "<tr>"
                //result += (this).innerHTML;
                //result += "</tr>"
            });
            
            result += "</table>";

            $("#divLoadHTMLTable").append(result);

            //document.body.innerHTML = result;

        }



        function updateVehicleInputFields(data) {
            var selectedVehicle = {};
            selectedVehicle = JSON.parse(data);
            $("#vehicleID").val(selectedVehicle.vehicleID);
            $("#registrationNumber").val(decodeURIComponent(selectedVehicle.registrationNumber));
            $("#vehicleType").val(decodeURIComponent(selectedVehicle.vehicleType));
            $("#subContractor").val(decodeURIComponent(selectedVehicle.subContractor));
            $("#divVehicleInputFieldsSection").show();
            $("#divVehicleTable").hide();
            $('#showVehicleBtn').val("Hide Vechile");
        }
         function getSelectedInvoiceData() {
         $("#InvoiceSelectedTable").on('xhr.dt', function (e, settings, json, xhr) {
            }).DataTable({
                lengthMenu: [10,25, 100, 150, 200],
                "fixedHeader": {
                    "header": true,
                    "footer": true
                },
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {

                    "url": "/Loads/Load?handler=InvoiceSelectedPaging",
                     "headers":
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    "type": "POST",
                    /*"contentType": "application/x-www-form-urlencoded",*/
                    "data": function (d) {
                       // d.search.value = $('#tripId').val();
                        //This is just test
                        d.loadID = $('#loadID').val() ;
                    },
                    "datatype": "json"
                    //success: function () {
                    //    createHTMLLoadTable();
                    //}
                },
                "columnDefs":
                [   {
                        /*Invoice ID is not visible and is not searchable*/
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        /*Invoice Number is visible and is  searchable*/
                        "targets": [1],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Invoice Printed Date No is visible and is searchable*/
                        "targets": [2],
                        "visible": true,
                        "searchable": true
                        },
                    {
                        /*Status is visible and is searchable*/
                        "targets": [3],
                        "visible": true,
                        "searchable": true
                    }

                ],
                "columns": [
                    { "data": "invoiceID", "name": "invoiceID", "autoWidth": true },
                    { "data": "invoiceNumber", "name": "invoiceNumber", "autoWidth": true },
                    { "data": "invoicePrintDate", "name": "invoicePrintDate", "autoWidth": true },
                    { "data": "statusName", "name": "statusName", "autoWidth": true },
                    {
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox" name="id[]" value="'
                                + $('<div/>').text(full.invoiceID).html() + '">';
                        }
                    }
                ]

            });//Selected Invoice Table
        }



        function getInvoiceData() {
         $("#InvoiceTable").on('xhr.dt', function (e, settings, json, xhr) {
            }).DataTable({
                lengthMenu: [10,25, 100, 150, 200],
                "fixedHeader": {
                    "header": true,
                    "footer": true
                },
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {

                    "url": "/Loads/Load?handler=InvoicePaging",
                     "headers":
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    "type": "POST",
                    /*"contentType": "application/x-www-form-urlencoded",*/
                    "data": function (d) {
                       // d.search.value = $('#tripId').val();
                        //This is just test
                        d.filterItemID = 4;
                    },
                    "datatype": "json"
                },
                "columnDefs":
                [   {
                        /*Invoice ID is not visible and is not searchable*/
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        /*Invoice Number is visible and is  searchable*/
                        "targets": [1],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Invoice Printed Date No is visible and is searchable*/
                        "targets": [2],
                        "visible": true,
                        "searchable": true
                        },
                    {
                        /*Status is visible and is searchable*/
                        "targets": [3],
                        "visible": true,
                        "searchable": true
                    }

                ],
                "columns": [
                    { "data": "invoiceID", "name": "invoiceID", "autoWidth": true },
                    { "data": "invoiceNumber", "name": "invoiceNumber", "autoWidth": true },
                    { "data": "invoicePrintDate", "name": "invoicePrintDate", "autoWidth": true },
                    { "data": "statusName", "name": "statusName", "autoWidth": true },
                    {
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox" name="id[]" value="'
                                + $('<div/>').text(full.invoiceID).html() + '">';
                        }
                    }
                ]

            });//Available Invoice Table
        }

        function GetVehicleData(){
            $("#VehicleTable").on('xhr.dt', function (e, settings, json, xhr) {
            }).DataTable({
                lengthMenu: [25, 100, 150, 200],
                "fixedHeader": {
                    "header": true,
                    "footer": true
                },
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {

                    "url": "/Loads/Load?handler=VehiclePaging",
                     "headers":
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    "type": "POST",
                    /*"contentType": "application/x-www-form-urlencoded",*/
                    "datatype": "json"
                },
                "columnDefs":
                [   {
                        /*Vehicle ID is not visible and is not searchable*/
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        /*Registration Number is visible and is searchable*/
                        "targets": [1],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*VehicleType is visible and is searchable*/
                        "targets": [2],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*SubContractor is visible and is searchable*/
                        "targets": [3],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Select button  is  visible and is not searchable*/
                        "targets": [4],
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    },
                ],
                "columns": [
                    { "data": "vehicleID", "name": "vehicleID", "autoWidth": true },
                    { "data": "registrationNumber", "name": "registrationNumber", "autoWidth": true },
                    { "data": "vehicleType", "name": "vehicleType", "autoWidth": true },
                    { "data": "subContractor", "name": "subContractor", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            var selectedVehicle = {};
                            selectedVehicle.vehicleID = full.vehicleID;
                            selectedVehicle.registrationNumber = encodeURIComponent(full.registrationNumber);
                            selectedVehicle.vehicleType = encodeURIComponent(full.vehicleType);
                            selectedVehicle.subContractor = encodeURIComponent(full.subContractor);
                            return "<p data-placement='top' data-toggle='tooltip' title='Select'><button id='btnDriver' class='btn btn-primary btn-xs' data-title='Select' data-toggle='modal' data-target='#edit' onclick=updateVehicleInputFields('" + JSON.stringify(selectedVehicle) + "')><span class='glyphicon glyphicon-pencil'></span></button></p>";
                        }
                    }
                    ]
            });//End Ajax Call
        }//Function GetVehicleData

        function updateDriverInputFields(data) {
            var selectedDriver = {};
            selectedDriver = JSON.parse(data);
            $("#driverID").val(selectedDriver.driverID);
            $("#driverFirstName").val(decodeURIComponent(selectedDriver.firstName));
            $("#driverSurname").val(decodeURIComponent(selectedDriver.surname));
            $("#driverCellNumber").val(decodeURIComponent(selectedDriver.cellNumber));


            $("#divDriverInputFieldsSection").show();

            $("#divDriverTable").hide();
            $('#showDriverBtn').val("Hide Driver");
        }


        function GetDriverData() {
            $("#DriverTable").on('xhr.dt', function (e, settings, json, xhr) {
            }).DataTable({
                lengthMenu: [25, 100, 150, 200],
                "fixedHeader": {
                    "header": true,
                    "footer": true
                },
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {

                    "url": "/Loads/Load?handler=DriverPaging",
                     "headers":
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    "type": "POST",
                    /*"contentType": "application/x-www-form-urlencoded",*/
                    "datatype": "json"
                },
                "columnDefs":
                [{
                        /*Driver ID is not visible and is not searchable*/
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        /*FirstName is visible and is not searchable*/
                        "targets": [1],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Surname is  visible and is  searchable*/
                        "targets": [2],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Cell Number  is  visible and is  searchable*/
                        "targets": [3],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Select button  is  visible and is not searchable*/
                        "targets": [4],
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    }
                ],
                "columns": [
                    { "data": "driverID", "name": "driverID", "autoWidth": true },
                    { "data": "firstName", "name": "firstName", "autoWidth": true },
                    { "data": "surname", "name": "surname", "autoWidth": true },
                    { "data": "cellNumber", "name": "cellNumber", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            var selectedDriver = {};
                            selectedDriver.driverID = full.driverID;
                            selectedDriver.firstName = encodeURIComponent(full.firstName);
                            selectedDriver.surname = encodeURIComponent(full.surname);
                            selectedDriver.cellNumber = encodeURIComponent(full.cellNumber);
                            return "<p data-placement='top' data-toggle='tooltip' title='Select'><button id='btnDriver' class='btn btn-primary btn-xs' data-title='Select' data-toggle='modal' data-target='#edit' onclick=updateDriverInputFields('" + JSON.stringify(selectedDriver) + "')><span class='glyphicon glyphicon-pencil'></span></button></p>";
                        }
                    }
                ]

            });//Drivers Table
        }//getVehicleData

        function ajaxInvoiceUpdate(obj) {
            console.log("Update Invoice Status: in Insert Ajax Call: " + JSON.stringify(obj));
            $.ajax({
                type: "POST",
                url: "/Loads/Load?handler=Update",
                    headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        console.log(data);
                        $("#modalHeader").text("Invoice Status Processing");
                        $("#modalMessage").text(data);
                        $("#myModal").modal("show");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#modalHeader").text("Invoice Status Processing");
                        $("#modalMessage").text("Invoice Status Not Processed Not Updated.");
                        $("#myModal").modal("show");
                    }
                });//ajax update
        }
         function ajaxInvoiceDelete(obj) {
            console.log("Delete Invoice Status: in Insert Ajax Call: " + JSON.stringify(obj));
            $.ajax({
                type: "POST",
                url: "/Loads/Load?handler=RemoveInvoiceItems",
                    headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        console.log(data);
                        $("#modalHeader").text("Invoice Processing Status");
                        $("#modalMessage").text(data);
                        $("#myModal").modal("show");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#modalHeader").text("Invoice Processing Status");
                        $("#modalMessage").text("Invoice Status Not Processed Not Updated.");
                        $("#myModal").modal("show");
                    }
                });//ajax update
        }



        function ajaxLoadUpdate(obj) {
            console.log("ajaxLoadUpdate Function runs: " + JSON.stringify(obj));
            $.ajax({
                type: "PUT",
                url: "/Loads/Load?handler=UpdateLoad",

                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(obj),
                success: function (data) {
                    console.log(data);
                    console.log("Load Data successfully returned from DataBase");
                    $("#modalHeader").text("Load Section 1 Processing Status");
                    $("#modalMessage").text($("#loadID").val() + " was updated.");
                    $("#myModal").modal("show");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                        $("#modalHeader").text("Load Processing Status");
                        $("#modalMessage").text("Load was not updated.");
                        $("#myModal").modal("show");
                    }
                });//ajax Update Section 1
        }
        function ajaxLoadInsert(obj) {
            console.log("Load Section 1: in Insert Ajax Call: " + JSON.stringify(obj));
            $.ajax({
                type: "POST",
                url: "/Loads/Load?handler=InsertLoad",
                    headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        console.log(data);
                        $("#loadID").val(data.loadID);
                        $("#createdBy").val(data.user.userName);
                        $("#createdBy").show();
                        $("#createdByLabel").show();

                        $("#createdDate").val(moment(data.createdUtc).format("YYYY-MM-DDTHH:mm"));
                        $("#createdDate").show();
                        $("#createdDateLabel").show();
                        //format: "YYYY/MM/DD hh:mm:ss A",
                        console.log("Hiden Load Id:" + $("#loadID").val());

                        $("#modalHeader").text("Load Processing Status");
                        $("#modalMessage").text(data.loadID + " was inserted.");
                        $("#myModal").modal("show");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#modalHeader").text("Load Processing Status");
                        $("#modalMessage").text("Load Data Not Updated.");
                        $("#myModal").modal("show");
                    }
                });//ajax insert
        }

        function ajaxInvoiceStatusUpdate(obj) {
            console.log("Update Invoice Status: in Insert Ajax Call: " + JSON.stringify(obj));
            $.ajax({
                type: "POST",
                url: "/Invoice/Index?handler=Update",
                    headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        console.log(data);
                        $("#modalHeader").text("Invoice Status Processing Status");
                        $("#modalMessage").text(" Invoice Status was inserted.");
                        $("#myModal").modal("show");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#modalHeader").text("Invoice Status Processing Status");
                        $("#modalMessage").text("Invoice Status Not Processed Not Updated.");
                        $("#myModal").modal("show");
                    }
                });//ajax update
        }



        $(document).ready(function ()
        {
            $('#savebtnSection1').click(function () {
                LoadToSave.loadName = $('#loadName').val();
                LoadToSave.loadDate = $('#loadDate').val();
                LoadToSave.vehicleID = $('#vehicleID').val();
                LoadToSave.driverID = $('#driverID').val();

                if ($('#loadID').val().length > 0 && $('#loadID').val() > 0) {
                    LoadToSave.loadID = $('#loadID').val();
                    ajaxLoadUpdate(LoadToSave);
                }
                else {
                    ajaxLoadInsert(LoadToSave);
                }
            });

            $('#savebtnSection2').click(function () {
                var arrInv = [];
                var InvItem = new Object();

                $('input[type="checkbox"]').each(function () {
                    //if checkbox is checked
                    if (this.checked) {
                        console.log("InvoiceID:" + this.value);
                        InvItem = new Object();
                        InvItem.invoiceID = this.value;
                        InvItem.loadID = $('#loadID').val();
                        arrInv.push(InvItem);
                    }
                });
                
                ajaxInvoiceUpdate(arrInv);
                //redraw the available Invoice paging table
                if (!$.fn.DataTable.isDataTable('#InvoiceTable')) {
                    getInvoiceData();
                }
                else {
                    var oTable = $('#InvoiceTable').DataTable();
                    oTable.draw()
                }
                //update the selected items paging table
                if (!$.fn.DataTable.isDataTable('#InvoiceSelectedTable')) {
                    getSelectedInvoiceData();
                }
                else {
                    var oTable = $('#InvoiceSelectedTable').DataTable();
                    oTable.draw()
                }
                createHTMLLoadTable();
                //update the selected items paging table
            });


            $('#savebtnSection3').click(function () {
                var arrInv = [];
                var InvItem = new Object();

                $('#divInvoiceSelectedTable').find(':checkbox').each(function () {
               // $('input[type="checkbox"]').each(function () {
                    //if checkbox is checked
                    if (this.checked) {
                        console.log("InvoiceID:" + this.value);
                        InvItem = new Object();
                        InvItem.invoiceID = this.value;
                        InvItem.loadID = $('#loadID').val();
                        //  InvItem.statusID = $('#statusID').val();
                        //  InvItem.createdUtc = $('#executeDate').val();
                        arrInv.push(InvItem);
                    }
                });
                ajaxInvoiceDelete(arrInv);
                //redraw the available Invoice paging table
                if (!$.fn.DataTable.isDataTable('#InvoiceTable')) {
                    getInvoiceData();
                }
                else {
                    var oTable = $('#InvoiceTable').DataTable();
                    oTable.draw()
                }
                if (!$.fn.DataTable.isDataTable('#InvoiceSelectedTable')) {
                    getSelectedInvoiceData();
                }
                else {
                    var oTable = $('#InvoiceSelectedTable').DataTable();
                    oTable.draw()
                }
                //update the selected items paging table
                createHTMLLoadTable();
            });

            $('#btnPrintLoadDetails').click(function () {
                if (!$.fn.DataTable.isDataTable('#InvoiceSelectedTable')) {
                    getSelectedInvoiceData();

                }
                createHTMLLoadTable();
            });
            $('#btnPrintLoad').click(function () {
                var divToPrint = document.getElementById("loadHTMLTable");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
            });
             $('#datetimepicker1').datetimepicker(
                    {
                        format: "YYYY/MM/DD hh:mm:ss A",
                        date: '@Model.ExecuteDate'
                    }
                );
            //hide the driver table and the driver capture fields when the form starts up
            $("#divDriverTable").hide();
            $("#divDriverInputFieldsSection").hide();
            $("#driverFirstName").prop("disabled", true);
            $("#driverSurname").prop("disabled", true);
            $("#driverCellNumber").prop("disabled", true);

            //hide the vehicle table and the vehicle capture fields when the form starts up
            $("#divVehicleTable").hide();
            $("#divVehicleInputFieldsSection").hide();
            $("#registrationNumber").prop("disabled", true);
            $("#vehicleType").prop("disabled", true);
            $("#subContractor").prop("disabled", true);

            $("#createdBy").prop("disabled", true);
            $("#createdDate").prop("disabled", true);

            //Find Driver
            $('#findDriverBtn').click(function () {
                $("#divDriverTable").show();
                $('#divDriverInputFieldsSection').hide();
                if (!$.fn.DataTable.isDataTable('#DriverTable')) {
                    GetDriverData();
                }
            });
            //Show and Hide Driver Button
            $('#showDriverBtn').click(function () {
                if ($('#showDriverBtn').val() == "Show Driver") {
                    $("#divDriverTable").hide();
                    $('#divDriverInputFieldsSection').show();
                    $('#showDriverBtn').val("Hide Driver");
                }
                else {
                    $("#divDriverTable").hide();
                    $('#divDriverInputFieldsSection').hide();
                    $('#showDriverBtn').val("Show Driver");
                }
            });
            //Find Vehicle
            $('#findVehicleBtn').click(function () {
                $("#divVehicleTable").show();
                $('#divVehicleInputFieldsSection').hide();
                if (!$.fn.DataTable.isDataTable('#VehicleTable')) {
                    GetVehicleData();
                }
            });
            //Show and Hide Vehicle Button
            $('#showVehicleBtn').click(function () {
                if ($('#showVehicleBtn').val() == "Show Vehicle") {
                    $("#divVehicleTable").hide();
                    $('#divVehicleInputFieldsSection').show();
                    $('#showVehicleBtn').val("Hide Vehicle");
                }
                else {
                    $("#divVehicleTable").hide();
                    $('#divVehicleInputFieldsSection').hide();
                    $('#showVehicleBtn').val("Show Vehicle");
                }
            });
            $('#btnInvoiceSelection').click(function () {
                $("#divInvoiceTable").show();

                if (!$.fn.DataTable.isDataTable('#InvoiceTable')) {
                    getInvoiceData();
                }
            });
            $('#btnInvoiceSelected').click(function () {
                $("#divInvoiceSelectedTable").show();
                console.log("In button Invoice Selected");
                if (!$.fn.DataTable.isDataTable('#InvoiceSelectedTable')) {
                    getSelectedInvoiceData();
                }
            });
           $('#datetimepicker1').datetimepicker(
                    {
                        format: "YYYY/MM/DD hh:mm:ss A",
                        date: '@Model.Load.LoadDate'
                    }
                );
        });//Document Ready end.

    </script>

}
